**/*.dbmdl
**/*.jfm
**/*.*proj.user
**/.classpath
**/.dockerignore
**/.editorconfig
**/.env
**/.eslintrc
**/.eslintignore
**/.git
**/.gitignore
**/.prettierrc
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/charts
**/Dockerfile*
**/docker-compose*
**/compose*
**/node_modules
**/npm-debug.log
CHANGELOG.md
LICENSE
README.md
